In [1]:
import numpy as np
import pandas as pd
import random

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import datetime
from datetime import timedelta,datetime, date

In [140]:
cust_types = {'Young Professional': { 'min_income':20000, 'max_income':100000, 'proportion':0.18},
              'Experienced Professional': { 'min_income':50000, 'max_income':200000, 'proportion':0.28},
              'Parent': { 'min_income':50000, 'max_income':200000, 'proportion':0.15},
              'College Student': { 'min_income':5000, 'max_income':25000, 'proportion':0.09},
              'School Student': { 'min_income':2000, 'max_income':8000, 'proportion':0.05},
              'Retired': { 'min_income':10000, 'max_income':50000, 'proportion':0.2},
              'Unemployed': { 'min_income':1000, 'max_income':5000, 'proportion':0.05}}

exp_types = ['Groceries','Clothing','Housing','Education','Health',
             'Motor/Travel','Entertainment','Gambling','Savings',
             'Bills and Utilities','Tax','Fines']

exp_prop = {'Young Professional':[0.04,0.12,0.16,0.08,0.04,0.08,0.24,0.08,0.04,0.04,0.04,0.04],
        'Experienced Professional':[0.08,0.08,0.15,0.04,0.08,0.08,0.15,0.08,0.08,0.08,0.08,0.04],
        'Parent':[0.15,0.04,0.23,0.15,0.08,0.04,0.04,0.08,0.04,0.08,0.04,0.04],
        'College Student':[0.09,0.04,0.09,0.35,0.04,0.09,0.13,0.04,0.04,0.04,0,0.04],
        'School Student':[0.05,0.02,0,0.05,0,0.19,0.65,0,0.05,0,0,0],
        'Retired':[0.09,0.04,0.22,0,0.18,0.07,0.15,0.15,0,0.07,0.01,0.01],
        'Unemployed':[0.1,0,0.2,0,0.05,0.4,0,0.1,0,0.1,0,0.05]}

exp_behave = {'Exclude':[0,0,0.5,0.5,0,0.2,0,0.8,0.5,0,0,0.9],
        'Exclude Monthly':[0,0.5,0,0,0.5,0.2,0,0.1,0.2,0,0,0.9],
        'Annual Inflation':[0.08,0.08,0.05,0.02,0.05,0.2,0.02,0.05,0,0.02,0,0],
        'Holiday Increase':[1,1,0,0,0,1,1,1,0,0,0,0],
        'Regular Monthly Min':[0,0,1,1,0,0,0,0,0,1,1,0],
        'Regular Monthly Max':[1,0,1,1,1,1,2,0,1,2,1,0],
        'Regular Monthly %':[0.1,0,1,0.9,0.8,0.5,0.2,0,0.8,1,1,0],
        'Sporatic Min':[4,1,0,0,2,4,5,5,1,0,0,44593],
        'Sporatic Max':[20,8,0,1,6,20,80,10,2,1,0,2],
        'Sporatic Variation':[0.05,0.1,0,0.2,0.2,0.2,0.3,0.5,0.5,0.2,0,0.5]}

In [20]:
def base_income(cust_type):
    
    #Get customer income range 
    min_income = cust_types[cust_type]['min_income']
    max_income = cust_types[cust_type]['max_income']
    
    #Create random income within cusotmer range 
    income = round(np.random.uniform(min_income,max_income))
    return income

def time_range():
    
    #Start date
    add_month = np.random.randint(0,120)
    start_dt = date(2010, 1, 1) + pd.DateOffset(months=add_month)
    
    #End date
    add_month  = np.random.randint(6,120)
    end_dt = start_dt + pd.DateOffset(months=add_month)
    
    #End date cutoff 
    cutoff = date(2020, 12, 1)+ pd.DateOffset(months=0)
    if end_dt >= cutoff:
        end_dt = cutoff 
    
    return start_dt, end_dt

def months_between(start_dt,end_dt):
    
    return (end_dt. year - start_dt. year) * 12 + (end_dt.month - start_dt.month)

def month_adjust(start_dt,end_dt):
    
    #
    months = pd.date_range(start_dt,end_dt,freq='MS')
    inf_months = [months_between(date(2010, 1, 1),dt) for dt in months]
    
    adjust = []
    for m in months:
        
        #monthly exclude 
        exclude_monthly = [1-np.random.binomial(n=1,p=float(per)) for per in behave_dict['Exclude Monthly']]
        
        #inflation adjustment
        inf_months = months_between(date(2010, 1, 1),m)
        inf = [(1+i)**(inf_months/12) for i in exp_behave['Annual Inflation']]
        
        #Holiday increase
        hol_inc = [1]*len(inf)
        if m.month == 10:
            hol_inc += np.array(exp_behave['Holiday Increase'])*0.1
        elif m.month == 11:
            hol_inc += np.array(exp_behave['Holiday Increase'])*0.2
        elif m.month == 12:
            hol_inc += np.array(exp_behave['Holiday Increase'])*0.3
        
        #Bring together
        adjust.append(np.array(exclude_monthly)*inf*hol_inc)
        
    return adjust

start_dt, end_dt = time_range()
print(start_dt, end_dt)
print(months_between(start_dt,end_dt))
month_adj = month_adjust(start_dt,end_dt)
len(month_adj)

44359

In [148]:
def generate_transactions(cust_type):
    
    income = base_income(cust_type)
    start_dt, end_dt = time_range()
    
    base_exp = [income*p for p in exp_prop[cust_type]]
    
    
    exclude = [1-np.random.binomial(n=1,p=float(per)) for per in behave_dict['Exclude']]
    
    month_adj = month_adjust(start_dt,end_dt)
    #print(month_adj)
    
    final = np.array([m*exclude for m in month_adj])*(income/12)
    
    trans = []
    for i,f in enumerate(final):
        trans_dict = {'cust_type':cust_type, 
         'income':income, 
         'start_dt':start_dt, 
         'end_dt':end_dt,
        'month':start_dt+ pd.DateOffset(months=i),
         'month_n':(start_dt+ pd.DateOffset(months=i)).month,         
        'Groceries':f[0],
        'Clothing':f[1],
        'Housing':f[2],
         'Education':f[3],
         'Health':f[4],
         'Motor/Travel':f[5],
         'Entertainment':f[6],
         'Gambling':f[7],
         'Savings':f[8],
        'Bills and Utilities':f[9],
         'Tax':f[10],
         'Fines':f[11]
        }
        trans.append(trans_dict)
    
    
    
    #print(final)
    
    return trans

generate_transactions('Young Professional')

[{'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2014-07-01 00:00:00'),
  'month_n': 7,
  'Groceries': 7741.127909698928,
  'Clothing': 0.0,
  'Housing': 6819.447490169392,
  'Education': 0.0,
  'Health': 6819.447490169392,
  'Motor/Travel': 12436.923158739448,
  'Entertainment': 5985.46804806808,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 5985.46804806808,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2014-08-01 00:00:00'),
  'month_n': 8,
  'Groceries': 7790.934559755319,
  'Clothing': 0.0,
  'Housing': 6847.230763380432,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 12627.325866945592,
  'Entertainment': 5995.35353517951,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 5995.35353517951,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2014-09-01 00:00:00'),
  'month_n': 9,
  'Groceries': 7841.061667297853,
  'Clothing': 0.0,
  'Housing': 6875.127229085649,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 12820.64353979609,
  'Entertainment': 6005.255348976613,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6005.255348976613,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2014-10-01 00:00:00'),
  'month_n': 10,
  'Groceries': 8680.662423575604,
  'Clothing': 0.0,
  'Housing': 0.0,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 0.0,
  'Entertainment': 6616.690868066666,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 0.0,
  'Tax': 0.0,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2014-11-01 00:00:00'),
  'month_n': 11,
  'Groceries': 9530.742618527634,
  'Clothing': 9530.742618527634,
  'Housing': 0.0,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 15859.443562680168,
  'Entertainment': 7230.129677438125,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 0.0,
  'Tax': 0.0,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2014-12-01 00:00:00'),
  'month_n': 12,
  'Groceries': 10391.402345464765,
  'Clothing': 10391.402345464765,
  'Housing': 0.0,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 17444.096849882273,
  'Entertainment': 7845.576726459161,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 0.0,
  'Tax': 0.0,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-01-01 00:00:00'),
  'month_n': 1,
  'Groceries': 8044.816108492803,
  'Clothing': 8044.816108492803,
  'Housing': 6987.854268281252,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 13623.966719999997,
  'Entertainment': 6045.0264109872005,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6045.0264109872005,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-02-01 00:00:00'),
  'month_n': 2,
  'Groceries': 8096.576697564286,
  'Clothing': 0.0,
  'Housing': 7016.323651552325,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 13832.542436589156,
  'Entertainment': 6055.010263577201,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6055.010263577201,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-03-01 00:00:00'),
  'month_n': 3,
  'Groceries': 8148.670315824368,
  'Clothing': 8148.670315824368,
  'Housing': 7044.909022614888,
  'Education': 0.0,
  'Health': 7044.909022614888,
  'Motor/Travel': 14044.3113369584,
  'Entertainment': 6065.01060531146,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 6065.01060531146,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-04-01 00:00:00'),
  'month_n': 4,
  'Groceries': 8201.099105992873,
  'Clothing': 8201.099105992873,
  'Housing': 7073.610854017563,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 0.0,
  'Entertainment': 6075.02746342314,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 6075.02746342314,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-05-01 00:00:00'),
  'month_n': 5,
  'Groceries': 8253.865224575953,
  'Clothing': 0.0,
  'Housing': 7102.4296202341875,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 14477.624981266708,
  'Entertainment': 6085.060865190381,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6085.060865190381,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-06-01 00:00:00'),
  'month_n': 6,
  'Groceries': 8306.970841954786,
  'Clothing': 0.0,
  'Housing': 7131.365797671673,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 14699.269753823583,
  'Entertainment': 6095.110837936376,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 6095.110837936376,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-07-01 00:00:00'),
  'month_n': 7,
  'Groceries': 8360.418142474844,
  'Clothing': 8360.418142474844,
  'Housing': 7160.419864677862,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 14924.307790487337,
  'Entertainment': 6105.177409029442,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6105.177409029442,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-08-01 00:00:00'),
  'month_n': 8,
  'Groceries': 8414.209324535746,
  'Clothing': 0.0,
  'Housing': 7189.5923015494545,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 15152.79104033471,
  'Entertainment': 6115.260605883102,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6115.260605883102,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-09-01 00:00:00'),
  'month_n': 9,
  'Groceries': 8468.346600681682,
  'Clothing': 8468.346600681682,
  'Housing': 7218.883590539932,
  'Education': 0.0,
  'Health': 7218.883590539932,
  'Motor/Travel': 15384.772247755307,
  'Entertainment': 6125.360455956147,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6125.360455956147,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-10-01 00:00:00'),
  'month_n': 10,
  'Groceries': 9375.115417461655,
  'Clothing': 0.0,
  'Housing': 0.0,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 17182.33546109014,
  'Entertainment': 6749.024685427999,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 0.0,
  'Tax': 0.0,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-11-01 00:00:00'),
  'month_n': 11,
  'Groceries': 10293.202028009846,
  'Clothing': 0.0,
  'Housing': 0.0,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 19031.332275216202,
  'Entertainment': 7374.732270986889,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 0.0,
  'Tax': 0.0,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2015-12-01 00:00:00'),
  'month_n': 12,
  'Groceries': 11222.714533101946,
  'Clothing': 11222.714533101946,
  'Housing': 0.0,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 20932.916219858726,
  'Entertainment': 8002.488260988344,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 0.0,
  'Tax': 0.0,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-01-01 00:00:00'),
  'month_n': 1,
  'Groceries': 8688.401397172227,
  'Clothing': 0.0,
  'Housing': 7337.246981695315,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 16348.760063999996,
  'Entertainment': 6165.926939206945,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6165.926939206945,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-02-01 00:00:00'),
  'month_n': 2,
  'Groceries': 8744.30283336943,
  'Clothing': 0.0,
  'Housing': 7367.139834129942,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 16599.050923906987,
  'Entertainment': 6176.110468848745,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6176.110468848745,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-03-01 00:00:00'),
  'month_n': 3,
  'Groceries': 8800.563941090319,
  'Clothing': 0.0,
  'Housing': 7397.154473745633,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 0.0,
  'Entertainment': 6186.31081741769,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6186.31081741769,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-04-01 00:00:00'),
  'month_n': 4,
  'Groceries': 8857.187034472303,
  'Clothing': 8857.187034472303,
  'Housing': 7427.291396718441,
  'Education': 0.0,
  'Health': 7427.291396718441,
  'Motor/Travel': 17111.186768472726,
  'Entertainment': 6196.528012691602,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6196.528012691602,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-05-01 00:00:00'),
  'month_n': 5,
  'Groceries': 8914.174442542031,
  'Clothing': 0.0,
  'Housing': 7457.551101245897,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 17373.14997752005,
  'Entertainment': 6206.762082494189,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6206.762082494189,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-06-01 00:00:00'),
  'month_n': 6,
  'Groceries': 8971.528509311169,
  'Clothing': 0.0,
  'Housing': 7487.934087555256,
  'Education': 0.0,
  'Health': 7487.934087555256,
  'Motor/Travel': 0.0,
  'Entertainment': 6217.013054695104,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6217.013054695104,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-07-01 00:00:00'),
  'month_n': 7,
  'Groceries': 9029.251593872832,
  'Clothing': 9029.251593872832,
  'Housing': 7518.440857911756,
  'Education': 0.0,
  'Health': 7518.440857911756,
  'Motor/Travel': 17909.169348584805,
  'Entertainment': 6227.280957210031,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6227.280957210031,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-08-01 00:00:00'),
  'month_n': 8,
  'Groceries': 9087.346070498606,
  'Clothing': 9087.346070498606,
  'Housing': 7549.071916626926,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 18183.34924840165,
  'Entertainment': 6237.565818000762,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6237.565818000762,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-09-01 00:00:00'),
  'month_n': 9,
  'Groceries': 9145.814328736216,
  'Clothing': 0.0,
  'Housing': 7579.82777006693,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 18461.726697306367,
  'Entertainment': 6247.8676650752695,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6247.8676650752695,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-10-01 00:00:00'),
  'month_n': 10,
  'Groceries': 10125.124650858588,
  'Clothing': 0.0,
  'Housing': 0.0,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 0.0,
  'Entertainment': 6884.005179136557,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 0.0,
  'Tax': 0.0,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-11-01 00:00:00'),
  'month_n': 11,
  'Groceries': 11116.658190250635,
  'Clothing': 11116.658190250635,
  'Housing': 0.0,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 22837.59873025944,
  'Entertainment': 7522.226916406626,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 0.0,
  'Tax': 0.0,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2016-12-01 00:00:00'),
  'month_n': 12,
  'Groceries': 12120.531695750102,
  'Clothing': 12120.531695750102,
  'Housing': 0.0,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 0.0,
  'Entertainment': 8162.538026208112,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 0.0,
  'Tax': 0.0,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2017-01-01 00:00:00'),
  'month_n': 1,
  'Groceries': 9383.473508946006,
  'Clothing': 9383.473508946006,
  'Housing': 7704.109330780081,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 19618.512076799998,
  'Entertainment': 6289.245477991083,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6289.245477991083,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2017-02-01 00:00:00'),
  'month_n': 2,
  'Groceries': 9443.847060038985,
  'Clothing': 9443.847060038985,
  'Housing': 7735.496825836439,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 19918.861108688387,
  'Entertainment': 6299.632678225719,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 6299.632678225719,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2017-03-01 00:00:00'),
  'month_n': 3,
  'Groceries': 9504.609056377543,
  'Clothing': 9504.609056377543,
  'Housing': 7767.012197432915,
  'Education': 0.0,
  'Health': 7767.012197432915,
  'Motor/Travel': 20223.808325220096,
  'Entertainment': 6310.037033766043,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6310.037033766043,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2017-04-01 00:00:00'),
  'month_n': 4,
  'Groceries': 9565.761997230089,
  'Clothing': 0.0,
  'Housing': 7798.655966554364,
  'Education': 0.0,
  'Health': 7798.655966554364,
  'Motor/Travel': 20533.424122167267,
  'Entertainment': 6320.458572945435,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6320.458572945435,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2017-05-01 00:00:00'),
  'month_n': 5,
  'Groceries': 9627.308397945393,
  'Clothing': 0.0,
  'Housing': 7830.428656308192,
  'Education': 0.0,
  'Health': 7830.428656308192,
  'Motor/Travel': 20847.77997302406,
  'Entertainment': 6330.897324144072,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 6330.897324144072,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2017-06-01 00:00:00'),
  'month_n': 6,
  'Groceries': 9689.250790056063,
  'Clothing': 0.0,
  'Housing': 7862.330791933019,
  'Education': 0.0,
  'Health': 7862.330791933019,
  'Motor/Travel': 21166.948445505957,
  'Entertainment': 6341.353315789005,
  'Gambling': 0.0,
  'Savings': 5475.166666666667,
  'Bills and Utilities': 6341.353315789005,
  'Tax': 5475.166666666667,
  'Fines': 0.0},
 {'cust_type': 'Young Professional',
  'income': 65702,
  'start_dt': Timestamp('2014-07-01 00:00:00'),
  'end_dt': Timestamp('2020-12-01 00:00:00'),
  'month': Timestamp('2017-07-01 00:00:00'),
  'month_n': 7,
  'Groceries': 9751.591721382658,
  'Clothing': 0.0,
  'Housing': 7894.362900807344,
  'Education': 0.0,
  'Health': 0.0,
  'Motor/Travel': 21491.003218301765,
  'Entertainment': 6351.826576354231,
  'Gambling': 0.0,
  'Savings': 0.0,
  'Bills and Utilities': 6351.826576354231,
  'Tax': 5475.166666666667,
  'Fines': 0.0},

In [168]:
n = 1000

test_df = []
for c in cust_types.keys():
    cust_n = round(n*cust_types[c]['proportion'])
    for i in range(cust_n):
        for x in generate_transactions(c):
            test_df.append(x)
        
test_df = pd.DataFrame(test_df,
                       columns=['cust_type', 'income', 'start_dt', 'end_dt','month','month_n',
                                'Groceries','Clothing','Housing','Education','Health',
                                 'Motor/Travel','Entertainment','Gambling','Savings',
                                 'Bills and Utilities','Tax','Fines'])
test_df

,cust_type,income,start_dt,end_dt,month,month_n,Groceries,Clothing,Housing,Education,Health,Motor/Travel,Entertainment,Gambling,Savings,Bills and Utilities,Tax,Fines
0,Young Professional,79655,2010-02-01,2019-12-01,2010-02-01,2,6680.625222,6680.625222,0.000000,6648.879726,6664.960361,6739.539656,6648.879726,0.000000,6637.916667,6648.879726,6637.916667,0.0
1,Young Professional,79655,2010-02-01,2019-12-01,2010-03-01,3,6723.608566,0.000000,0.000000,6659.860891,6692.114234,6842.718440,6659.860891,0.000000,0.000000,6659.860891,6637.916667,0.0
2,Young Professional,79655,2010-02-01,2019-12-01,2010-04-01,4,6766.868466,6766.868466,0.000000,6670.860193,0.000000,6947.476836,6670.860193,0.000000,6637.916667,6670.860193,6637.916667,0.0
3,Young Professional,79655,2010-02-01,2019-12-01,2010-05-01,5,6810.406702,6810.406702,0.000000,6681.877661,6746.754317,7053.839027,6681.877661,0.000000,6637.916667,6681.877661,6637.916667,0.0
4,Young Professional,79655,2010-02-01,2019-12-01,2010-06-01,6,6854.225063,6854.225063,0.000000,6692.913325,0.000000,0.000000,6692.913325,0.000000,6637.916667,6692.913325,6637.916667,0.0
5,Young Professional,79655,2010-02-01,2019-12-01,2010-07-01,7,6898.325354,6898.325354,0.000000,6703.967216,6801.840527,7271.473386,6703.967216,0.000000,6637.916667,6703.967216,6637.916667,0.0
6,Young Professional,79655,2010-02-01,2019-12-01,2010-08-01,8,6942.709387,0.000000,0.000000,6715.039362,6829.552067,0.000000,6715.039362,0.000000,6637.916667,6715.039362,6637.916667,0.0
7,Young Professional,79655,2010-02-01,2019-12-01,2010-09-01,9,6987.378988,0.000000,0.000000,6726.129796,0.000000,7495.822488,6726.129796,0.000000,0.000000,6726.129796,6637.916667,0.0
8,Young Professional,79655,2010-02-01,2019-12-01,2010-10-01,10,7735.569594,0.000000,0.000000,6737.238546,0.000000,0.000000,7410.962401,0.000000,6637.916667,6737.238546,6637.916667,0.0
9,Young Professional,79655,2010-02-01,2019-12-01,2010-11-01,11,8493.098708,8493.098708,0.000000,6748.365643,0.000000,9272.512206,8098.038772,0.000000,6637.916667,6748.365643,6637.916667,0.0
10,Young Professional,79655,2010-02-01,2019-12-01,2010-12-01,12,9260.055524,9260.055524,0.000000,6759.511118,6941.531840,0.000000,8787.364453,0.000000,6637.916667,6759.511118,6637.916667,0.0
11,Young Professional,79655,2010-02-01,2019-12-01,2011-01-01,1,7168.950000,7168.950000,0.000000,6770.675000,0.000000,7965.500000,6770.675000,0.000000,6637.916667,6770.675000,6637.916667,0.0
12,Young Professional,79655,2010-02-01,2019-12-01,2011-02-01,2,7215.075240,7215.075240,0.000000,6781.857320,6998.208379,8087.447587,6781.857320,0.000000,0.000000,6781.857320,6637.916667,0.0
13,Young Professional,79655,2010-02-01,2019-12-01,2011-03-01,3,7261.497251,7261.497251,0.000000,6793.058109,0.000000,8211.262128,6793.058109,0.000000,6637.916667,6793.058109,6637.916667,0.0
14,Young Professional,79655,2010-02-01,2019-12-01,2011-04-01,4,7308.217943,7308.217943,0.000000,6804.277397,0.000000,8336.972203,6804.277397,0.000000,6637.916667,6804.277397,6637.916667,0.0
15,Young Professional,79655,2010-02-01,2019-12-01,2011-05-01,5,7355.239238,7355.239238,0.000000,6815.515214,0.000000,0.000000,6815.515214,0.000000,6637.916667,6815.515214,6637.916667,0.0
16,Young Professional,79655,2010-02-01,2019-12-01,2011-06-01,6,7402.563068,7402.563068,0.000000,6826.771592,0.000000,8594.195481,6826.771592,0.000000,6637.916667,6826.771592,6637.916667,0.0
17,Young Professional,79655,2010-02-01,2019-12-01,2011-07-01,7,7450.191382,0.000000,0.000000,6838.046560,0.000000,8725.768064,6838.046560,0.000000,6637.916667,6838.046560,6637.916667,0.0
18,Young Professional,79655,2010-02-01,2019-12-01,2011-08-01,8,7498.126138,7498.126138,0.000000,6849.340150,7171.029671,0.000000,6849.340150,0.000000,6637.916667,6849.340150,6637.916667,0.0
19,Young Professional,79655,2010-02-01,2019-12-01,2011-09-01,9,7546.369307,0.000000,0.000000,6860.652392,7200.245333,8994.986986,6860.652392,0.000000,6637.916667,6860.652392,6637.916667,0.0
20,Young Professional,79655,2010-02-01,2019-12-01,2011-10-01,10,8354.415162,8354.415162,0.000000,6871.983317,7229.580024,10045.965021,7559.181649,0.000000,6637.916667,6871.983317,6637.916667,0.0
21,Young Professional,79655,2010-02-01,2019-12-01,2011-11-01,11,9172.546604,0.000000,0.000000,6883.332956,7259.034228,0.000000,8259.999547,0.000000,6637.916667,6883.332956,6637.916667,0.0
22,Young Professional,79655,2010-02-01,2019-12-01,2011-12-01,12,10000.859966,10000.859966,0.000000,6894.701340,7288.608432,12238.810295,8963.111742,0.000000,6637.916667,6894.701340,6637.916667,0.0
23,Young Professional,79655,2010-02-01,2019-12-01,2012-01-01,1,7742.466000,0.000000,0.000000,6906.088500,0.000000,0.000000,6906.088500,0.000000,0.000000,6906.088500,6637.916667,0.0
24,Young Professional,79655,2010-02-01,2019-12-01,2012-02-01,2,7792.281259,0.000000,0.000000,6917.494467,7348.118798,9704.937105,6917.494467,0.000000,6637.916667,6917.494467,6637.916667,0.0
25,Young Professional,79655,2010-02-01,2019-12-01,2012-03-01,3,7842.417032,7842.417032,0.000000,6928.919271,0.000000,9853.514553,6928.919271,0.000000,6637.916667,6928.919271,6637.916667,0.0
26,Young Professional,79655,2010-02-01,2019-12-01,2012-04-01,4,7892.875379,0.000000,0.000000,6940.362945,0.000000,0.000000,6940.362945,0.000000,6637.916667,6940.362945,6637.916667,0.0
27,Young Professional,79655,2010-02-01,2019-12-01,2012-05-01,5,7943.658377,0.000000,0.000000,6951.825518,7438.296634,10157.528199,6951.825518,0.000000,6637.916667,6951.825518,6637.916667,0.0
28,Young Professional,79655,2010-02-01,2019-12-01,2012-06-01,6,7994.768114,7994.768114,0.000000,6963.307023,7468.601176,10313.034578,6963.307023,0.000000,6637.916667,6963.307023,6637.916667,0.0
29,Young Professional,79655,2010-02-01,2019-12-01,2012-07-01,7,8046.206693,8046.206693,0.000000,6974.807491,0.000000,10470.921676,6974.807491,0.000000,6637.916667,6974.807491,6637.916667,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47346,Unemployed,2230,2015-05-01,2020-12-01,2019-12-01,12,518.226015,0.000000,301.474673,226.156281,301.474673,1473.265411,294.003165,391.917075,0.000000,226.156281,185.833333,0.0
47347,Unemployed,2230,2015-05-01,2020-12-01,2020-01-01,1,401.200229,0.000000,302.702918,226.529796,0.000000,1150.631018,226.529796,302.702918,0.000000,226.529796,185.833333,0.0
47348,Unemployed,2230,2015-05-01,2020-12-01,2020-02-01,2,403.781563,0.000000,303.936167,226.903929,303.936167,0.000000,226.903929,303.936167,0.000000,226.903929,185.833333,0.0
47349,Unemployed,2230,2015-05-01,2020-12-01,2020-03-01,3,406.379506,406.379506,305.174441,227.278679,0.000000,1186.131807,227.278679,305.174441,0.000000,227.278679,185.833333,0.0
47350,Unemployed,2230,2015-05-01,2020-12-01,2020-04-01,4,408.994164,408.994164,306.417759,227.654048,0.000000,0.000000,227.654048,306.417759,0.000000,227.654048,185.833333,0.0
47351,Unemployed,2230,2015-05-01,2020-12-01,2020-05-01,5,411.625644,411.625644,307.666143,228.030037,0.000000,1222.727912,228.030037,307.666143,0.000000,228.030037,185.833333,0.0
47352,Unemployed,2230,2015-05-01,2020-12-01,2020-06-01,6,414.274056,0.000000,308.919613,228.406648,0.000000,1241.447229,228.406648,308.919613,0.000000,228.406648,185.833333,0.0
47353,Unemployed,2230,2015-05-01,2020-12-01,2020-07-01,7,416.939508,0.000000,310.178190,228.783880,0.000000,0.000000,228.783880,0.000000,0.000000,228.783880,185.833333,0.0
47354,Unemployed,2230,2015-05-01,2020-12-01,2020-08-01,8,419.622109,0.000000,311.441894,229.161735,311.441894,1279.749998,229.161735,311.441894,0.000000,229.161735,185.833333,0.0
47355,Unemployed,2230,2015-05-01,2020-12-01,2020-09-01,9,422.321971,0.000000,312.710747,229.540214,312.710747,1299.342293,229.540214,312.710747,0.000000,229.540214,185.833333,0.0
47356,Unemployed,2230,2015-05-01,2020-12-01,2020-10-01,10,467.543123,467.543123,313.984769,229.919318,0.000000,1451.157989,252.911250,345.383246,0.000000,229.919318,185.833333,0.0
47357,Unemployed,2230,2015-05-01,2020-12-01,2020-11-01,11,513.328702,0.000000,315.263982,230.299049,0.000000,1607.317582,276.358859,378.316779,0.000000,230.299049,185.833333,0.0
47358,Unemployed,2230,2015-05-01,2020-12-01,2020-12-01,12,559.684097,559.684097,316.548407,230.679407,0.000000,1767.918493,299.883228,411.512929,0.000000,230.679407,185.833333,0.0
47359,Unemployed,2593,2016-06-01,2017-10-01,2016-06-01,6,354.071009,354.071009,0.000000,0.000000,295.519361,0.000000,245.361098,0.000000,216.083333,245.361098,216.083333,0.0
47360,Unemployed,2593,2016-06-01,2017-10-01,2016-07-01,7,356.349112,356.349112,0.000000,0.000000,296.723344,0.000000,245.766332,0.000000,216.083333,245.766332,216.083333,0.0
47361,Unemployed,2593,2016-06-01,2017-10-01,2016-08-01,8,358.641873,358.641873,0.000000,0.000000,0.000000,0.000000,246.172235,0.000000,216.083333,246.172235,216.083333,0.0
47362,Unemployed,2593,2016-06-01,2017-10-01,2016-09-01,9,360.949386,0.000000,0.000000,0.000000,0.000000,0.000000,246.578808,0.000000,0.000000,246.578808,216.083333,0.0
47363,Unemployed,2593,2016-06-01,2017-10-01,2016-10-01,10,399.598920,0.000000,0.000000,0.000000,300.364802,0.000000,271.684658,0.000000,216.083333,246.986053,216.083333,0.0
47364,Unemployed,2593,2016-06-01,2017-10-01,2016-11-01,11,438.730856,0.000000,0.000000,0.000000,0.000000,0.000000,296.872765,0.000000,216.083333,247.393971,216.083333,0.0
47365,Unemployed,2593,2016-06-01,2017-10-01,2016-12-01,12,478.349802,478.349802,0.000000,0.000000,302.817235,0.000000,322.143331,0.000000,216.083333,247.802562,216.083333,0.0
47366,Unemployed,2593,2016-06-01,2017-10-01,2017-01-01,1,370.328861,0.000000,0.000000,0.000000,0.000000,0.000000,248.211828,0.000000,216.083333,248.211828,216.083333,0.0
47367,Unemployed,2593,2016-06-01,2017-10-01,2017-02-01,2,372.711568,0.000000,0.000000,0.000000,305.289691,0.000000,248.621770,0.000000,0.000000,248.621770,216.083333,0.0
47368,Unemployed,2593,2016-06-01,2017-10-01,2017-03-01,3,375.109605,0.000000,0.000000,0.000000,306.533479,0.000000,249.032389,0.000000,216.083333,249.032389,216.083333,0.0
47369,Unemployed,2593,2016-06-01,2017-10-01,2017-04-01,4,377.523072,0.000000,0.000000,0.000000,307.782334,0.000000,249.443686,0.000000,216.083333,249.443686,216.083333,0.0
47370,Unemployed,2593,2016-06-01,2017-10-01,2017-05-01,5,379.952067,379.952067,0.000000,0.000000,0.000000,0.000000,249.855663,0.000000,216.083333,249.855663,216.083333,0.0
47371,Unemployed,2593,2016-06-01,2017-10-01,2017-06-01,6,382.396690,382.396690,0.000000,0.000000,310.295330,0.000000,250.268320,0.000000,216.083333,250.268320,216.083333,0.0
47372,Unemployed,2593,2016-06-01,2017-10-01,2017-07-01,7,384.857041,384.857041,0.000000,0.000000,0.000000,0.000000,250.681658,0.000000,216.083333,250.681658,216.083333,0.0
47373,Unemployed,2593,2016-06-01,2017-10-01,2017-08-01,8,387.333223,0.000000,0.000000,0.000000,312.828843,0.000000,251.095679,0.000000,0.000000,251.095679,216.083333,0.0
47374,Unemployed,2593,2016-06-01,2017-10-01,2017-09-01,9,389.825337,389.825337,0.000000,0.000000,0.000000,0.000000,251.510384,0.000000,216.083333,251.510384,216.083333,0.0
47375,Unemployed,2593,2016-06-01,2017-10-01,2017-10-01,10,431.566833,0.000000,0.000000,0.000000,315.383043,0.000000,277.118352,0.000000,216.083333,251.925774,216.083333,0.0

# Tests

In [178]:
test_df['Housing_miss'] = [1 if x != 0 else 0 for x in test_df['Housing']]
test_df['Fines_miss'] = [1 if x != 0 else 0 for x in test_df['Fines']]

In [179]:
test_df[test_df.month_n==1].groupby(['cust_type']).mean()

,income,month_n,Groceries,Clothing,Housing,Education,Health,Motor/Travel,Entertainment,Gambling,Savings,Bills and Utilities,Tax,Fines,Housing_miss,Fines_miss
cust_type,,,,,,,,,,,,,,,,
College Student,14966.329231,1.0,2112.864872,1210.729527,864.861413,689.939506,841.782754,2875.195938,1423.723767,132.431494,459.051538,1423.723767,1247.194103,0.000000,0.489231,0.000000
Experienced Professional,126426.954631,1.0,17512.415926,8690.552526,6313.899546,5766.826650,6897.573634,21751.148832,11964.886737,2896.285472,4051.570573,11964.886737,10535.579553,110.057656,0.457467,0.014178
Parent,133536.463122,1.0,18663.648510,9048.699524,6881.018559,5905.913648,7674.629242,25299.329956,12668.518231,1888.568225,4364.943539,12668.518231,11128.038593,27.178674,0.473413,0.001715
Retired,29711.363636,1.0,4131.489006,2055.534957,1753.201852,1470.266706,1642.237053,5763.134382,2814.980637,550.457362,1065.464719,2814.980637,2475.946970,37.559740,0.489610,0.012987
School Student,4369.718563,1.0,615.788292,297.333456,248.427259,234.631585,289.499782,787.994415,415.190385,152.156760,173.042914,415.190385,364.143214,2.493014,0.508982,0.005988
Unemployed,3122.715152,1.0,463.619107,237.173474,192.896323,148.154991,192.137692,614.849740,301.003971,46.198874,99.833838,301.003971,260.226263,11.188384,0.472727,0.042424
Young Professional,61295.553161,1.0,8416.584853,4049.172359,3534.863123,3019.626811,3702.821210,11503.727395,5786.601239,1536.955472,1869.090398,5786.601239,5107.962763,28.696480,0.520115,0.005747

In [180]:
test_df[test_df.month_n==10].groupby(['cust_type']).mean()

,income,month_n,Groceries,Clothing,Housing,Education,Health,Motor/Travel,Entertainment,Gambling,Savings,Bills and Utilities,Tax,Fines,Housing_miss,Fines_miss
cust_type,,,,,,,,,,,,,,,,
College Student,14885.039437,10.0,2380.117516,1249.752187,869.540911,673.432393,907.885626,3276.860355,1568.476670,172.634796,486.537559,1425.887882,1240.419953,25.876526,0.490141,0.016901
Experienced Professional,126144.064572,10.0,19727.998781,9723.599924,6410.363310,5858.495299,7325.110656,26156.509870,13214.396370,3213.820791,3744.900015,12013.087609,10512.005381,153.813845,0.458988,0.013089
Parent,133558.321767,10.0,21158.545929,10255.246833,7040.536220,6064.214010,8350.656984,30521.191194,14038.690122,1988.596432,4197.188617,12762.445565,11129.860147,32.275368,0.473186,0.003155
Retired,29675.768765,10.0,4672.967448,2225.112448,1791.980176,1513.986971,1670.586959,7065.235334,3114.612463,578.884967,1014.090496,2831.465875,2472.980730,22.576776,0.493947,0.008475
School Student,4443.163043,10.0,715.919901,371.720775,246.606651,241.816025,263.982450,883.052041,468.877466,169.129258,192.205616,426.252242,370.263587,0.978261,0.494565,0.005435
Unemployed,3133.312169,10.0,525.882259,258.247394,194.922481,150.471236,195.576216,697.283406,334.413874,51.125313,96.158730,304.012613,261.109347,5.709877,0.470899,0.015873
Young Professional,60935.115127,10.0,9532.318947,4798.548304,3519.671563,3087.426293,3538.659269,13619.527407,6382.869588,1534.399641,1839.274096,5802.608716,5077.926261,34.542392,0.511379,0.006693

In [181]:
test_df[test_df.month_n==11].groupby(['cust_type']).mean()

,income,month_n,Groceries,Clothing,Housing,Education,Health,Motor/Travel,Entertainment,Gambling,Savings,Bills and Utilities,Tax,Fines,Housing_miss,Fines_miss
cust_type,,,,,,,,,,,,,,,,
College Student,14995.988827,11.0,2620.818588,1136.892148,859.129087,669.687493,905.036136,3779.767399,1724.665864,208.621607,463.676676,1437.221553,1249.665736,1.414339,0.480447,0.002793
Experienced Professional,126196.405382,11.0,21632.801874,10834.894892,6497.559679,5810.988334,7598.052108,29589.827972,14438.228213,3431.238004,3905.090784,12031.856844,10516.367115,94.678385,0.462674,0.011285
Parent,133101.393417,11.0,23102.623512,11600.886525,7022.151348,5978.320267,8036.135789,33254.744396,15279.357497,2555.785332,4042.484195,12732.797914,11091.782785,32.641980,0.473354,0.003135
Retired,29633.677033,11.0,5111.710522,2712.257641,1786.996548,1521.326644,1691.163711,7702.230891,3396.437959,703.046750,1060.605263,2830.364966,2469.473086,35.522727,0.490431,0.014354
School Student,4470.274194,11.0,788.524029,410.566303,248.498491,245.581689,262.992921,1145.976740,515.026017,191.765794,192.871864,429.188348,372.522849,2.238351,0.494624,0.005376
Unemployed,3123.809524,11.0,575.429564,292.742871,193.806448,150.035072,173.192619,835.702603,364.284011,52.886680,94.713845,303.570010,260.317460,8.954586,0.465608,0.026455
Young Professional,60889.801577,11.0,10428.609576,5309.172390,3566.074021,3039.034560,3630.820491,15043.230022,6963.322255,1685.800312,1863.586837,5802.768546,5074.150131,23.621003,0.517740,0.005256

In [182]:
test_df[test_df.month_n==12].groupby(['cust_type']).mean()

,income,month_n,Groceries,Clothing,Housing,Education,Health,Motor/Travel,Entertainment,Gambling,Savings,Bills and Utilities,Tax,Fines,Housing_miss,Fines_miss
cust_type,,,,,,,,,,,,,,,,
College Student,15015.280992,12.0,2851.988920,1251.504570,851.939576,670.375042,857.103172,4410.409706,1872.269828,222.048727,480.839991,1440.207560,1251.273416,9.591139,0.473829,0.005510
Experienced Professional,125972.985395,12.0,23481.213484,11389.731059,6575.709045,5865.845139,7563.690407,31243.797646,15628.348634,3593.306905,3820.479525,12021.806641,10497.748783,104.931057,0.467354,0.012027
Parent,133012.145086,12.0,25109.877154,11970.809577,6981.626122,5968.878290,7460.554744,36666.535302,16558.288265,2530.527526,4421.754680,12737.144819,11084.345424,77.715679,0.469579,0.007800
Retired,29564.517160,12.0,5534.094796,2663.342006,1786.660048,1514.728198,1789.971835,8306.921750,3672.060724,751.195252,1055.069724,2824.662095,2463.709763,16.837673,0.489941,0.004734
School Student,4458.149733,12.0,854.785902,441.315867,247.407263,238.575334,278.539567,1142.022979,556.840449,212.465919,175.902406,428.338807,371.512478,0.000000,0.486631,0.000000
Unemployed,3134.505208,12.0,629.945178,310.822890,197.295844,152.595951,188.173370,921.167729,396.703004,68.045535,105.784288,305.156157,261.208767,8.523872,0.473958,0.026042
Young Professional,61174.950649,12.0,11380.288102,5879.349559,3602.009711,3053.876774,3498.957193,17458.977614,7583.347213,1942.627549,1786.189935,5833.344010,5097.912554,27.529545,0.518182,0.003896

In [173]:
test_df[test_df.month_n==12].groupby(['cust_type']).count()

,income,start_dt,end_dt,month,month_n,Groceries,Clothing,Housing,Education,Health,Motor/Travel,Entertainment,Gambling,Savings,Bills and Utilities,Tax,Fines
cust_type,,,,,,,,,,,,,,,,,
College Student,363,363,363,363,363,363,363,363,363,363,363,363,363,363,363,363,363
Experienced Professional,1164,1164,1164,1164,1164,1164,1164,1164,1164,1164,1164,1164,1164,1164,1164,1164,1164
Parent,641,641,641,641,641,641,641,641,641,641,641,641,641,641,641,641,641
Retired,845,845,845,845,845,845,845,845,845,845,845,845,845,845,845,845,845
School Student,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187
Unemployed,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192
Young Professional,770,770,770,770,770,770,770,770,770,770,770,770,770,770,770,770,770

In [175]:
test_df.groupby(['month']).mean()

,income,month_n,Groceries,Clothing,Housing,Education,Health,Motor/Travel,Entertainment,Gambling,Savings,Bills and Utilities,Tax,Fines
month,,,,,,,,,,,,,,
2010-01-01,106148.500000,1.0,8845.708333,6748.858333,4440.575000,1750.558333,3722.908333,3507.358333,8845.708333,669.533333,3296.316667,8845.708333,8845.708333,745.500000
2010-02-01,101817.894737,2.0,8539.416178,5176.544878,3973.130115,3226.622875,4303.976943,4428.187646,8498.837939,1857.039496,3158.609649,8498.837939,8484.824561,0.000000
2010-03-01,106043.772727,3.0,8951.061687,3833.014367,4376.153367,2980.924411,3373.525790,4967.100346,8866.195151,2392.111682,3716.617424,8866.195151,8836.981061,0.000000
2010-04-01,103211.640000,4.0,8768.057147,3335.142299,4681.691599,3436.648288,4680.362149,5300.840659,8643.656026,2277.747497,3192.606667,8643.656026,8600.970000,0.000000
2010-05-01,98449.566667,5.0,8417.319548,4045.820190,4270.965251,3543.110613,4268.641656,4185.738308,8258.464129,2431.733930,1582.913889,8258.464129,8204.130556,0.000000
2010-06-01,97957.343750,6.0,8429.121595,4259.923357,4416.305986,3327.152202,3280.354974,5324.545607,8230.745230,2156.384645,3872.635417,8230.745230,8163.111979,0.000000
2010-07-01,84580.853659,7.0,7324.916794,4624.776321,4046.139721,2799.707986,3967.688066,4971.711052,7118.539577,1698.684098,3162.693089,7118.539577,7048.404472,0.000000
2010-08-01,82467.625000,8.0,7187.857061,2702.858154,4061.243873,2902.082355,3102.085350,4345.882829,6952.147988,1739.868865,2388.112847,6952.147988,6872.302083,0.000000
2010-09-01,81938.888889,9.0,7187.722937,3751.131387,3987.834414,3225.875225,4537.514032,3878.284815,6918.983140,1307.333020,2738.350309,6918.983140,6828.240741,0.000000
2010-10-01,81434.180328,10.0,7908.351884,3786.340865,4050.156797,3309.071322,4094.369738,5297.414187,7576.494238,2074.872619,2777.448087,6887.722035,6786.181694,90.909836
2010-11-01,77500.932432,11.0,8263.424381,4398.802017,4073.682757,3266.483189,2949.266651,5539.813492,7879.047840,2126.458269,2425.063063,6565.873200,6458.411036,0.000000
2010-12-01,74837.376471,12.0,8699.997004,3451.457150,3747.273292,3178.542379,3647.118101,5497.898555,8255.894818,1799.742948,2147.717647,6350.688322,6236.448039,0.000000
2011-01-01,75928.054348,1.0,6833.524891,3468.850435,3865.752853,3230.301196,3151.518886,4754.640217,6453.884620,1625.773777,2647.168478,6453.884620,6327.337862,41.773551
2011-02-01,76134.010204,2.0,6896.147285,3011.019036,3723.029752,3221.461938,3359.848073,4612.819256,6482.078896,1618.315573,2357.434524,6482.078896,6344.500850,11.501701
2011-03-01,77770.980583,3.0,7089.746554,3680.656199,3981.492938,3344.282022,3649.462411,4439.112613,6632.387048,1738.300340,2410.916667,6632.387048,6480.915049,114.671521
2011-04-01,77577.410714,4.0,7117.602473,3568.098953,3865.431121,3390.911064,3563.667232,3900.505453,6626.805878,1418.592773,2307.212798,6626.805878,6464.784226,0.000000
2011-05-01,76363.652174,5.0,7051.320455,4499.089194,3761.155937,3453.892023,3613.645008,4452.166088,6533.897849,1773.872591,2271.375362,6533.897849,6363.637681,0.000000
2011-06-01,79225.224000,6.0,7362.622777,3423.441796,3566.877709,3369.938886,3626.968169,5365.929311,6789.937964,1505.700501,2236.072667,6789.937964,6602.102000,0.000000
2011-07-01,79459.172932,7.0,7431.875531,3590.325977,3435.450690,3505.030759,4199.174132,5172.717366,6821.235630,1666.706991,2328.389724,6821.235630,6621.597744,12.799499
2011-08-01,80041.889655,8.0,7534.545037,3240.406294,3338.842988,3493.157991,4509.713862,4994.538514,6882.607852,1953.470940,2486.750575,6882.607852,6670.157471,53.050575
2011-09-01,78527.711538,9.0,7439.572056,3766.797114,3384.518250,3384.885108,4467.939569,5102.010695,6763.559500,1889.702104,2025.112179,6763.559500,6543.975962,96.500000
2011-10-01,78910.331288,10.0,8276.312449,3138.367377,3322.279886,3412.316919,3855.605812,5627.121215,7488.513316,2038.829639,2155.313906,6807.739378,6575.860941,52.647239
2011-11-01,79018.805882,11.0,9099.286668,4891.200267,3418.468601,3343.533355,3962.793110,6499.311823,8194.028006,2157.833969,2509.512745,6828.356672,6584.900490,9.061765
2011-12-01,77974.363636,12.0,9789.852384,4619.397623,3394.026959,3229.855933,3668.099989,7282.101205,8773.999552,2244.705564,2278.799716,6749.230425,6497.863636,72.198864
2012-01-01,77667.841270,1.0,7549.314171,3573.596571,3396.336319,3185.208454,3421.145000,5466.314921,6733.801838,1741.354028,2335.863316,6733.801838,6472.320106,39.305115
2012-02-01,76764.286432,2.0,7509.496084,3640.063506,3406.396171,3143.674241,3104.842911,6324.373508,6666.455673,1647.754396,2289.177973,6666.455673,6397.023869,0.000000
2012-03-01,76359.083333,3.0,7517.918218,4425.167263,3378.085813,3114.923089,3458.378193,5927.160403,6642.218618,1747.466898,1980.566993,6642.218618,6363.256944,66.242647
2012-04-01,77666.143541,4.0,7695.803052,4165.947818,3433.055997,3077.533007,3842.953664,5655.619273,6767.073312,1593.146372,2291.074960,6767.073312,6472.178628,81.641946
2012-05-01,77154.004673,5.0,7694.244624,3595.031108,3449.769988,3028.093399,3420.328225,5670.399357,6733.553180,1510.775591,2166.451324,6733.553180,6429.500389,38.191589
2012-06-01,77404.040179,6.0,7768.845048,3603.988963,3288.201737,2919.778834,4085.609126,6343.253327,6766.531876,1655.614741,2372.676339,6766.531876,6450.336682,40.603423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-01,73593.549098,7.0,11796.696960,6183.062894,3990.928573,3619.207260,4214.603037,18478.965120,7257.047430,1417.249821,2218.884603,7257.047430,6132.795758,108.334669
2018-08-01,73223.961924,8.0,11812.973020,6242.398079,4131.653533,3607.683302,4542.683168,17602.403015,7232.527913,1490.861923,2280.052271,7232.527913,6101.996827,17.733801
2018-09-01,72502.516064,9.0,11771.840788,5462.991791,4095.620805,3584.983096,4771.703050,19290.452786,7173.096180,1153.587335,2226.988621,7173.096180,6041.876339,74.316265
2018-10-01,71547.685259,10.0,12860.708287,6701.887179,3988.512993,3499.415512,4841.774964,20173.383160,7799.352153,1434.588208,2188.995352,7090.320139,5962.307105,37.516268
2018-11-01,71311.250996,11.0,14073.471200,6149.807592,4009.364166,3385.322480,5165.914489,23608.883861,8494.273476,1606.540271,2126.574203,7078.561230,5942.604250,31.458665
2018-12-01,70959.080160,12.0,15268.577218,7089.290026,4141.328797,3389.498693,4792.764279,25587.032379,9171.807863,1881.010833,2205.940882,7055.236817,5913.256680,22.314128
2019-01-01,70959.152918,1.0,11820.639585,5473.644036,4188.386935,3419.233781,3897.001247,18369.864890,7066.896361,1470.821981,2252.661301,7066.896361,5913.262743,16.806506
2019-02-01,71047.635081,2.0,11911.528459,5933.073778,4260.895184,3523.880391,4541.479447,19705.105678,7087.394500,1407.307435,2114.553763,7087.394500,5920.636257,12.173051
2019-03-01,71016.819639,3.0,11982.967972,6007.641387,4295.104161,3467.182209,4935.566207,19499.434354,7096.020820,1611.751256,2004.348530,7096.020820,5918.068303,113.364061
2019-04-01,71276.643426,4.0,12104.189990,5491.670664,4270.002420,3501.129719,4302.592478,20532.113266,7133.745020,1488.405289,2184.824535,7133.745020,5939.720286,12.457503
2019-05-01,71182.347305,5.0,12165.952328,6382.683328,4216.227474,3577.997897,4934.328760,20318.970705,7136.073736,1550.110420,2129.278609,7136.073736,5931.862275,12.193613
2019-06-01,70291.748000,6.0,12091.034532,6370.642587,4268.646597,3548.383528,4869.798491,21718.824213,7058.428960,1511.888604,2273.401000,7058.428960,5857.645667,99.139500
2019-07-01,69999.710000,7.0,12118.271321,5762.636861,4302.488494,3511.720505,4361.103760,20188.771020,7040.712755,1578.056810,2259.206000,7040.712755,5833.309167,40.404167
2019-08-01,69942.755511,8.0,12186.317307,6373.487072,4314.913689,3544.309510,4623.291698,20726.267921,7046.603006,1621.660335,2305.769706,7046.603006,5828.562959,129.454075
2019-09-01,70657.203557,9.0,12390.005584,6485.212728,4410.049790,3584.746941,4981.778582,21880.971200,7130.339240,1431.527030,2186.066864,7130.339240,5888.100296,126.365613
2019-10-01,70880.923379,10.0,13760.126347,7173.076553,4498.447597,3686.741894,5278.942808,25092.550830,7881.202389,1701.257440,2072.072200,7164.729445,5906.743615,79.886870
2019-11-01,71624.611219,11.0,15266.138796,7644.008023,4631.068959,3672.877412,4932.334222,27886.696082,8702.231518,1937.205617,2249.499355,7251.859598,5968.717602,72.700677
2019-12-01,71548.334615,12.0,16626.999265,7549.447413,4576.886001,3748.876197,4769.225074,30075.314545,9432.931318,2114.710317,2155.340385,7256.101014,5962.361218,88.472115
2020-01-01,71157.870518,1.0,12802.042118,6454.845991,4631.023947,3798.948151,4715.071287,24950.501278,7228.420592,1769.808343,2143.599104,7228.420592,5929.822543,32.683931
2020-02-01,71256.479757,2.0,12902.265817,6134.595499,4678.329220,3806.291675,4740.814889,24058.311756,7250.392469,1608.804858,2053.804150,7250.392469,5938.039980,75.597841
2020-03-01,71501.961145,3.0,13030.014184,6537.175229,4713.565562,3837.812264,4588.713458,22625.944712,7287.386223,1653.012410,2170.197512,7287.386223,5958.496762,46.277267
2020-04-01,71232.707216,4.0,13064.467048,7466.343030,4722.684291,3875.855058,5113.415593,25213.916587,7271.934604,1697.799736,2157.037801,7271.934604,5936.058935,78.178179
2020-05-01,71390.336842,5.0,13177.620364,5734.423401,4798.978970,3935.950215,5134.490316,26173.164794,7300.063310,1741.346221,2024.492105,7300.063310,5949.194737,33.185263
2020-06-01,71240.802998,6.0,13234.626202,6344.808797,4796.705754,3957.959685,5114.756414,25529.648617,7296.804028,1747.458769,2259.604211,7296.804028,5936.733583,79.395789
2020-07-01,70694.331140,7.0,13217.605222,6975.444957,4815.927883,3943.653577,4903.650038,26764.919214,7252.790741,1796.322096,1931.662281,7252.790741,5891.194262,115.800804
2020-08-01,70983.153675,8.0,13356.995819,6100.394034,4867.592293,3960.064323,5290.187717,25789.679126,7294.449617,1707.322865,2184.696548,7294.449617,5915.262806,40.035820
2020-09-01,71181.040816,9.0,13480.411404,6848.422943,4917.701552,3957.821520,4625.682696,28067.105520,7326.866077,1668.336940,2196.266818,7326.866077,5931.753401,50.525888
2020-10-01,70602.216590,10.0,14802.502624,7193.759305,4987.615392,3923.688555,5096.868024,28192.931042,8007.217432,1861.490508,2011.551459,7279.288574,5883.518049,68.210253
2020-11-01,70623.160839,11.0,16256.903791,8222.607498,5000.550029,3926.928945,5049.621960,30724.634900,8752.168667,2225.515173,1996.479021,7293.473889,5885.263403,32.368881
2020-12-01,70000.901176,12.0,17568.785266,8380.480239,4902.810606,3837.308298,4411.864485,37027.822145,9413.496072,2133.705499,2134.043725,7241.150825,5833.408431,78.353529

In [154]:
test_df['start_dt'].value_counts()

2012-07-01    6473
2012-06-01    6163
2012-11-01    6073
2013-12-01    6063
2011-09-01    6050
2010-12-01    6046
2013-04-01    5894
2013-02-01    5864
2014-01-01    5854
2010-11-01    5832
2010-03-01    5823
2013-01-01    5806
2012-05-01    5795
2013-05-01    5778
2011-08-01    5726
2010-10-01    5723
2011-10-01    5690
2010-06-01    5668
2011-02-01    5609
2010-07-01    5555
2014-06-01    5541
2012-08-01    5538
2012-02-01    5522
2010-08-01    5516
2013-11-01    5496
2010-04-01    5485
2010-01-01    5350
2014-05-01    5268
2012-12-01    5250
2012-10-01    5242
              ...
2017-01-01    2978
2017-04-01    2858
2018-02-01    2791
2017-09-01    2786
2016-12-01    2757
2018-01-01    2635
2018-08-01    2629
2018-05-01    2625
2018-06-01    2605
2018-03-01    2598
2018-12-01    2501
2017-07-01    2457
2017-10-01    2421
2017-12-01    2346
2018-11-01    2193
2019-02-01    2136
2019-01-01    1996
2018-09-01    1944
2018-07-01    1889
2018-10-01    1685
2019-04-01    1658
2019-03-01    1598
2019-08-01    1552
2019-07-01    1510
2019-06-01    1461
2019-05-01    1359
2019-11-01    1103
2019-10-01    1096
2019-09-01    1018
2019-12-01     972
Name: start_dt, Length: 120, dtype: int64

In [273]:
test_df['end_dt'].value_counts()

2020-12-01    4261
2019-11-01      97
2018-12-01      94
2020-10-01      93
2019-10-01      91
2020-02-01      87
2019-12-01      87
2020-01-01      86
2018-07-01      85
2019-09-01      85
2020-07-01      85
2020-06-01      84
2020-08-01      83
2018-04-01      83
2020-09-01      81
2018-06-01      80
2019-04-01      79
2018-03-01      78
2019-05-01      78
2020-03-01      78
2019-03-01      77
2018-11-01      77
2019-06-01      77
2019-08-01      76
2018-10-01      75
2020-04-01      75
2018-08-01      74
2020-05-01      73
2019-07-01      73
2018-02-01      72
              ...
2012-08-01      22
2012-06-01      20
2012-12-01      20
2012-09-01      20
2011-12-01      19
2012-11-01      19
2012-07-01      18
2012-10-01      18
2013-01-01      18
2013-02-01      17
2012-02-01      16
2012-03-01      13
2012-05-01      12
2011-10-01      12
2011-06-01      12
2011-09-01      11
2011-07-01      11
2012-01-01      10
2011-03-01       9
2011-08-01       8
2011-04-01       7
2011-11-01       7
2011-02-01       6
2010-11-01       5
2011-01-01       5
2010-12-01       4
2011-05-01       4
2010-10-01       3
2010-07-01       2
2010-08-01       1
Name: end_dt, Length: 125, dtype: int64

KeyError: 'U'

In [225]:
cust_type = 'Young Professional'
income = base_income(cust_type)
start_dt, end_dt = time_range()
print(cust_type,income,start_dte, end_dt)

35454

(Timestamp('2011-04-01 00:00:00'), Timestamp('2012-05-01 00:00:00'))

In [43]:
from datetime import timedelta, date

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

start_dt = date(2015, 12, 20)
end_dt = date(2016, 1, 11)

6.231947423198527

In [ ]:
prop = pd.read_csv('/Users/conorosully/Downloads/Figures - cust_type.csv')
prop_np = prop.to_numpy()

prop_dict = {}

for i in range(len(cust_types)):
    prop_dict[prop_np[i][0]] = list(prop_np[i][1:])

prop_dict